.add-model {
  padding-top: 100px;
  padding-bottom: 100px;

  &--sended {
    display: flex;
    height: 100%;
  }

  text-align: center;

  &__title {
    display: block;
    margin: 0;
    margin-bottom: 25px;

    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: #707070;
  }

  &__desc {
    margin: 0;
    margin-bottom: 32px;

    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #707070;

    opacity: 0.5;
  }

  &__container {
    max-width: 636px;
    padding: 0 20px;
    margin: 0 auto;
  }

  &__text-label {
    position: relative;

    display: block;
    margin-bottom: 15px;
  }

  &__file-wrap {
    position: relative;

    margin-bottom: 35px;
    margin-top: 35px;
  }

  &__file-label {
    display: flex;
    width: 100%;
    height: 63px;
    padding: 20px;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color:  rgba(112, 112, 112, 0.5);
    border: 1px dashed rgba(112, 112, 112, 0.5);
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      color: #5ea9ff;
      border: 1px dashed #5ea9ff;
    }
  }

  &__file-input {
    position: absolute;
    top: 100%;
    left: 50%;
  }

  &__text-name {
    @include transition;

    position: absolute;
    //top: 14px;
    top: 50%;
    left: 15px;

    font-weight: 400;
    // font-size: 13px;
    // line-height: 15px;
    font-size: 15px;
    line-height: 17px;
    color: #707070;

    transform: translateY(-50%);
    opacity: 0.5;
  }

  &__text-input {
    width: 100%;
    padding: 33px 15px 15px;

    font-weight: 400;
    font-size: 15px;
    line-height: 17px;

    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 5px;

    &.fill + .add-model__text-mask + .add-model__text-name {
      top: 14px;

      font-size: 13px;
      line-height: 15px;

      transform: translateY(0);
      opacity: 1;
    }

    &.mask + .add-model__text-mask {
      display: block;
    }

    &:hover {
      background-color: #fff;
    }

    &:focus {
      outline: none;
      border: 1px solid #5ea9ff;
      background-color: #fff;
    }

    &.error {
      border: 1px solid #ff0000;
    }
  }

  &__email-error,
  &__brand-error,
  &__model-error {
    display: none;
    margin: 0;
    padding-bottom: 12px;
    margin-top: -4px;

    font-size: 13px;
    line-height: 15px;
    color: #ff0000;
    text-align: left;

    &.show {
      display: block;
    }
  }

  &__text-mask {
    position: absolute;
    bottom: 15px;
    left: 16px;

    display: none;

    font-size: 15px;
    line-height: 17px;
    color: #707070;
    opacity: 0.3;
  }

  &__agreement {
    position: relative;

    display: inline-flex;
    justify-content: center;
    margin-bottom: 35px;
  }

  &__agreement-label {
    position: relative;

    display: block;
    padding-left: 44px;
    padding-top: 4px;
    min-height: 24px;

    font-size: 15px;
    line-height: 17px;
    color:  rgba(112, 112, 112, 0.5);
    text-align: left;

    &:hover {
      cursor: pointer;
      color: #5ea9ff;
    }

    &:focus {
      color:  rgba(112, 112, 112, 0.5);
    }

    &:active {
      color:  rgba(112, 112, 112, 0.5);
    }

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: 0;

      width: 24px;
      height: 24px;

      transform: translateY(-50%);
      border: 1px solid #5ea9ff;
      border-radius: 3px;
    }
  }

  &__agreement-input {
    position: absolute;
    top: 100%;
    left: 12px;
  }

  &__agreement-input:checked
  + .add-model__agreement-label::before {
    background-color: #5ea9ff;
    background-image: url("../img/checked-white.svg");
    background-position: center center;
  }

  &__agreement-input.error
  + .add-model__agreement-label::before {
    border: 1px solid #ff0000;
  }

  &__submit {
    display: block;
    margin: 0 auto;
  }

  &__to-main {
    @include link-reset;

    display: inline-block;
    padding: 20px 60px 19px;

    color: #fff;
  }

  &__file-progress {
    position: absolute;
    top: 1px;
    left: 1px;

    display: none;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2px);
    height: calc(100% - 2px);

    background-color: #f7f7f7;
    border-radius: 5px;

    &.show {
      display: flex;
    }
  }

  &__bar-bg {
    position: relative;

    width: calc(100% - 30px);
    height: 5px;

    background-color: #eee;
  }

  &__bar-current {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    //width: 100%;

    background-color: #5ea9ff;
  }

  &__file-result {
    position: absolute;
    top: 1px;
    left: 1px;

    display: none;
    align-items: center;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    padding-right: 50px;

    background-color: #f7f7f7;
    border-radius: 5px;
    overflow: hidden;

    &.show {
      display: flex;
    }
  }

  &__file-image-wrap {
    width: 63px;
    min-width: 63px;
    height: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ddd;
  }

  &__file-name {
    margin: 0;
    font-size: 15px;
    line-height: 17px;
    color: #707070;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__file-close {
    position: absolute;

    top: 50%;
    right: 15px;

    display: block;
    width: 24px;
    height: 24px;

    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    background-image: url("../img/search-close.svg");
    background-repeat: no-repeat;
    background-position: center center;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}

@include tablet {
  .add-model__desc--sended {
    max-width: 400px;
  }
}

@include mobile {
  .add-model {
    &__submit {
      width: 100%;
      max-width: 360px;
    }

    &__to-main {
      width: 100%;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}
