.button-blue {
  @include transition;

  height: 56px;
  padding: 10px 60px;

  font-size: 15px;
  line-height: 17px;
  color: #fff;

  background-color: #5ea9ff;
  border: none;
  border-radius: 28px;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    background-color: #70B3FF;
  }

  &:active {
    background-color: #85BEFF;
  }

  &:disabled {
    color: rgba(112, 112, 112, 0.3);
    background-color: #E5E5E5;

    &:hover {
      cursor: initial;
    }
  }
}
