






.device {
  padding-top: 40px;
  margin-bottom: 25px;
  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__to-main {
    @include link-reset;
    @include transition;

    position: relative;

    display: inline-block;
    padding-left: 39px;
    margin-bottom: 37px;

    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #707070;

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: 0;

      width: 24px;
      height: 24px;

      transform: translateY(-50%) rotate(-90deg);
      background-image: url("../img/arrow-big.svg");
    }

    &:hover {
      opacity: 0.75;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__result {
    margin: 0;
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #707070;
  }

  &__title-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & p {
      flex-grow: 1;
      max-width: 392px;
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      color: #707070;
    }
  }

  &__model-title span:last-child {
    text-align: right;
  }

  &__item {
    align-self: flex-start;
  }

  &__model {
    flex-grow: 1;
    max-width: 392px;
  }

  &__model-list {
    margin: 0;
    padding: 0;
  }

  &__model-item {
    display: flex;
    align-items: center;

    padding: 23px 15px;

    background-color: #fff;
    border-radius: 5px;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__model-name {
    margin: 0;
    margin-right: auto;
    max-width: 200px;

    font-weight: 400px;
    font-size: 15px;
    line-height: 16px;
  }

  &__controller-link {
    @include transition;
    @include link-reset;

    display: block;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100px;

    color: #5ea9ff;
    text-align: right;

    border: 0;
    //border-bottom: 1px solid rgba(94, 169, 255, 0.3);
    background-color: transparent;

    &:hover {
      cursor: pointer;
      opacity: 0.75;
      //border-bottom: 1px solid rgba(94, 169, 255, 1);
    }
  }

  &__model-not-supported {
    margin: 0;
    margin-left: 10px;
    min-width: 145px;

    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: right;
    color: #FF0000;
  }

  &__wire-color {
    position: relative;

    &.white .device__wire-dote {
      background-color: #fff;
      border: 1px solid #e5e5e5;
    }

    &.white .device__wire-image-wrap,
    &.white .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-white.jpg");
    }

    &.grey .device__wire-dote {
      background-color: #dadada;
    }

    &.grey .device__wire-image-wrap,
    &.grey .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-grey.jpg");
    }

    &.red .device__wire-dote {
      background-color: #d64933;
    }

    &.red .device__wire-image-wrap,
    &.red .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-red.jpg");
    }

    &.black .device__wire-dote {
      background-color: #303030;
    }

    &.black .device__wire-image-wrap,
    &.black .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-black.jpg");
    }

    &.blue .device__wire-dote {
      background-color: #5ea9ff;
    }

    &.blue .device__wire-image-wrap,
    &.blue .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-blue.jpg");
    }

    &.green .device__wire-dote {
      background-color: #48c369;
    }

    &.green .device__wire-image-wrap,
    &.green .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-green.jpg");
    }

    &.rose .device__wire-dote {
      background-color: pink;
    }

    &.rose .device__wire-image-wrap,
    &.rose .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-rose.jpg");
    }

    &.orange .device__wire-dote {
      background-color: orange;
    }

    &.orange .device__wire-image-wrap,
    &.orange .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-orange.jpg");
    }

    &.yellow .device__wire-dote {
      background-color: yellow;
    }

    &.yellow .device__wire-image-wrap,
    &.yellow .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-yellow.jpg");
    }

    &.brown .device__wire-dote {
      background-color: brown;
    }

    &.brown .device__wire-image-wrap,
    &.brown .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-brown.jpg");
    }
  }

  &__wire-dote {
    width: 16px;
    height: 16px;
    border-radius: 50%;

    & span {
      display: none;
      width: 100%;
      height: 100%;
    }
  }

  &__wire-popup-mobile {
    display: none;
  }

  &__wire-popup {
    position: absolute;
    bottom: calc(100% + 35px);
    right: 100%;

    display: none;
    align-items: center;
    padding: 15px;
    width: 333px;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05);
  }

  // &__wire-color > .device__wire-dote:hover + .device__wire-popup {
  //   display: flex;
  // }

  &__model-item:hover .device__wire-popup {
    display: flex;
  }

  &__wire-image-wrap {
    width: 133px;
    height: 70px;
    margin-right: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
    background-color: #e5e5e5;
    background-size: cover;
    background-position: center center;
  }

  &__wire-info {
    width: 155px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__wire-title {
    margin: 0;
    margin-bottom: 6px;

    font-size: 15px;
    line-height: 16px;
  }

  &__wire-name {
    margin: 0;
    margin-left: 15px;

    font-size: 15px;
    font-weight: 16px;
  }
}

@include desktop {
  .device {

    &__title-wrap {

      & p {
        max-width: 48.5%;
      }
    }

    &__model {
      max-width: 49%;
    }

    &__model-name {
      max-width: 158px;
    }

    &__wire-dote span {
      display: block;
    }

    &__wire-color > .device__wire-dote:hover + .device__wire-popup {
      display: none;
    }

    &__wire-popup {
      display: none !important;
    }

    &__wire-popup-mobile {
      position: fixed;
      top: 50%;
      left: 50%;

      display: none;
      width: 288px;

      border-radius: 5px;
      background-color: #fff;
      transform: translate(-50%, -50%);
      z-index: 100;

      &-wrap {
        padding: 15px 15px 25px 15px;
      }

      &.js--show {
        display: block;
      }
    }

    &__wire-image-wrap-mobile {
      width: 100%;
      height: 136px;

      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 5px;
      background-color: #e5e5e5;
      background-size: cover;
      background-position: center center;
    }

    &__wire-popup-text {
      display: flex;

      font-size: 13px;
      line-height: 16px;

      & > span:first-of-type {
        margin-right: auto;
      }

      & > span:not(:first-of-type) {
        color: #707070;
      }

      & .device__wire-dote {
        margin-right: 10px;
      }
    }

    &__wire-popup-close {
      display: block;
      width: 100%;
      height: 57px;

      border: none;
      border-top: 1px solid #f7f7f7;
      background-color: #fff;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      &:focus {
        outline: none;
      }

      &:active {
        color: rgba(0, 0, 0, 0.5);
      }
    }

    &__wire-popup-overlay {
      position: fixed;
      top: 0;
      left: 0;

      display: none;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 99;

      &.js--show {
        display: block;
      }
    }
  }
}

@include tablet {
  .device {
    &__title-wrap {
      order: 1;
    }

    & .device__series-title {
      display: none;
    }

    & .device__model-title {
      max-width: 100%;
      flex-grow: 1;
    }

    &__item {
      max-width: 100%;
      // display: flex;
      // align-items: center;
      // justify-content: space-between;
      // padding: 15px;
      margin-bottom: 0;
      order: 0;
    }

    &__item .model__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
    }

    &__item .model__image-container {
      max-width: 45%;
      margin-bottom: 0;
      flex-grow: 1;
    }

    &__item .device__item-data {
      max-width: 45%;
      flex-grow: 1;
    }

    &__item .model__image {
      height: 160px;
      display: flex;
      align-items: center;
    }

    &__model {
      max-width: 100%;
      order: 2;
    }
  }
}

@include mobile {
  .device {
    padding-top: 35px;

    &__to-main {
      padding-left: 28px;
      margin-bottom: 35px;

      font-size: 13px;
      line-height: 15px;

      &::before {
        width: 18px;
        height: 18px;

        background-size: cover;
      }
    }

    &__title-wrap p {
      font-size: 13px;
      line-height: 15px;
    }

    // &__item {
    //   flex-direction: column;
    //   padding-bottom: 20px;
    // }

    &__item .model__link {
      flex-direction: column;
      padding-bottom: 20px;
    }

    &__item .model__image-container {
      max-width: 100%;
      margin-bottom: 30px;
    }

    &__item .device__item-data {
      max-width: 100%;
    }

    &__model-name,
    &__controller-link,
    &__model-not-supported {
      font-size: 13px;
      line-height: 15px;
    }

    &__model-not-supported {
      min-width: 130px;
    }
  }
}
