.device {
  padding-top: 40px;
  margin-bottom: 25px;
  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__to-main {
    @include link-reset;
    @include transition;

    position: relative;

    display: inline-block;
    padding-left: 39px;
    margin-bottom: 37px;

    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #707070;

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: 0;

      width: 24px;
      height: 24px;

      transform: translateY(-50%) rotate(-90deg);
      background-image: url("../img/arrow-big.svg");
    }

    &:hover {
      opacity: 0.75;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__result {
    margin: 0;
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #707070;
  }

  &__title-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & p {
      flex-grow: 1;
      max-width: 392px;
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      color: #707070;
    }
  }

  &__model-title span:last-child {
    text-align: right;
  }

  &__item {
    align-self: flex-start;
  }

  &__model {
    flex-grow: 1;
    max-width: 392px;
  }

  &__model-list {
    margin: 0;
    padding: 0;
  }

  &__model-item {
    display: flex;
    align-items: center;

    padding: 23px 15px;

    background-color: #fff;
    border-radius: 5px;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__model-name {
    margin: 0;
    margin-right: auto;
    max-width: 200px;

    font-weight: 400px;
    font-size: 15px;
    line-height: 16px;
  }

  &__controller-link {
    @include transition;
    @include link-reset;

    display: block;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100px;

    color: #5ea9ff;
    text-align: right;

    border: 0;
    //border-bottom: 1px solid rgba(94, 169, 255, 0.3);
    background-color: transparent;

    &:hover {
      cursor: pointer;
      opacity: 0.75;
      //border-bottom: 1px solid rgba(94, 169, 255, 1);
    }
  }

  &__model-not-supported {
    margin: 0;
    margin-left: 10px;
    min-width: 145px;

    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: right;
    color: #ff0000;
  }

  &__wire-color {
    position: relative;

    &.white .device__wire-dote {
      background-color: #fff;
      border: 1px solid #e5e5e5;
    }

    &.white .device__wire-image-wrap,
    &.white .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-white.jpg");
    }

    &.grey .device__wire-dote {
      background-color: #dadada;
    }

    &.grey .device__wire-image-wrap,
    &.grey .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-grey.jpg");
    }

    &.red .device__wire-dote {
      background-color: #d64933;
    }

    &.red .device__wire-image-wrap,
    &.red .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-red.jpg");
    }

    &.black .device__wire-dote {
      background-color: #303030;
    }

    &.black .device__wire-image-wrap,
    &.black .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-black.jpg");
    }

    &.blue .device__wire-dote {
      background-color: #5ea9ff;
    }

    &.blue .device__wire-image-wrap,
    &.blue .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-blue.jpg");
    }

    &.green .device__wire-dote {
      background-color: #48c369;
    }

    &.green .device__wire-image-wrap,
    &.green .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-green.jpg");
    }

    &.rose .device__wire-dote {
      background-color: pink;
    }

    &.rose .device__wire-image-wrap,
    &.rose .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-rose.jpg");
    }

    &.orange .device__wire-dote {
      background-color: orange;
    }

    &.orange .device__wire-image-wrap,
    &.orange .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-orange.jpg");
    }

    &.yellow .device__wire-dote {
      background-color: yellow;
    }

    &.yellow .device__wire-image-wrap,
    &.yellow .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-yellow.jpg");
    }

    &.brown .device__wire-dote {
      background-color: brown;
    }

    &.brown .device__wire-image-wrap,
    &.brown .device__wire-image-wrap-mobile {
      background-image: url("../img/wire-brown.jpg");
    }
  }

  &__wire-dote {
    width: 16px;
    height: 16px;
    border-radius: 50%;

    & span {
      display: none;
      width: 100%;
      height: 100%;
    }
  }

  &__wire-popup-mobile {
    display: none;
  }

  &__wire-popup {
    position: absolute;
    bottom: calc(100% + 35px);
    right: 100%;

    display: none;
    align-items: center;
    padding: 15px;
    width: 333px;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05);
  }

  // &__wire-color > .device__wire-dote:hover + .device__wire-popup {
  //   display: flex;
  // }

  &__model-item:hover .device__wire-popup {
    display: flex;
  }

  &__wire-image-wrap {
    width: 133px;
    height: 70px;
    margin-right: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
    background-color: #e5e5e5;
    background-size: cover;
    background-position: center center;
  }

  &__wire-info {
    width: 155px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__wire-title {
    margin: 0;
    margin-bottom: 6px;

    font-size: 15px;
    line-height: 16px;
  }

  &__wire-name {
    margin: 0;
    margin-left: 15px;

    font-size: 15px;
    font-weight: 16px;
  }
}

.device__block {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  margin: 0 0 40px;

  .model__image-container {
    margin: 0;
    margin-right: 40px;
    width: 200px;
    height: 200px;
  }
}

.device__block-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #1a1a1a;
  margin: 0 0 12px;
}

.device__block-subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 2px;
  color: #6c7684;
}

.device__block-value {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1a1a1a;
  margin: 0;

  .current {
    color: #fdd74f;
  }

  .none {
    color: #f25248;
  }

  .all {
    color: #1ed77e;
  }
}

.device__block-part {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.device__stroke-wires {
  display: flex;
  flex-wrap: wrap;
  margin-top: -4px;

  .not-supported {
    color: #f25248;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    margin-top: 4px;
  }
}

.device__strokes-titles {
  display: flex;

  span {
    padding: 0 0 16px;
    font-size: 12px;
    line-height: 18px;
    color: #6c7684;

    &:first-child {
      width: 182px;
      padding-left: 16px;
    }

    &:nth-child(2) {
      width: calc(100% - 182px);
    }
  }
}

.device__strokes-list {
  margin: 0;
  padding: 0;
}

.device__stroke {
  position: relative;
  padding: 16px;
  background: #fff;
  display: flex;
  border-radius: 8px;
  padding-right: 56px;
  min-height: 66px;

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.device__stroke-popup {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: calc(100% + 4px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;

  &::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    top: 100%;
    left: 0;
  }

  @media (min-width: 640px) {
    &:hover {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }
  }
}

.device__stroke-controller {
  position: relative;
  margin: 4px 16px 0 0;
}

.device__stroke-popup-body {
  width: 223px;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.device__stroke-popup-inner {
  padding: 16px;
}

.device__stroke-popup-title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  margin: 0 0 8px;
}

.device__stroke-popup-cable {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 18px;

  .dote {
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    flex-shrink: 0;
    font-size: 8px;
    line-height: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding-left: 3px;
    margin-right: 8px;
    font-weight: 600;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    div {
      width: 12px;
      height: 8px;
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-bottom: -1px;
      transform: translate(-50%, -50%);
    }

    &.white {
      background-color: #fff;
      border: 1px solid #e5e5e5;
    }

    &.grey {
      background-color: #dadada;
    }

    &.red {
      background-color: #d64933;
    }

    &.black {
      background-color: #303030;
    }

    &.blue {
      background-color: #5ea9ff;
    }

    &.green {
      background-color: #48c369;
    }

    &.rose {
      background-color: pink;
    }

    &.orange {
      background-color: orange;
    }

    &.yellow {
      background-color: yellow;
    }

    &.brown {
      background-color: brown;
    }

    &.wire-a {
      background-image: url("../img/wire-a.svg");
    }

    &.wire-c {
      background-image: url("../img/wire-c.svg");
    }

    &.wire-e {
      background-image: url("../img/wire-e.svg");
    }

    &.wire-f {
      background-image: url("../img/wire-f.svg");
    }

    &.wire-g {
      background-image: url("../img/wire-g.svg");
    }

    &.wire-l {
      background-image: url("../img/wire-l.svg");
    }

    &.wire-m {
      background-image: url("../img/wire-m.svg");
    }

    &.wire-h {
      background-image: url("../img/wire-h.svg");
    }

    &.wire-i {
      background-image: url("../img/wire-i.svg");
    }

    &.wire-j {
      background-image: url("../img/wire-j.svg");
    }

    &.wire-k {
      background-image: url("../img/wire-k.svg");
    }

    &.wire-b {
      background-image: url("../img/wire-b.svg");
    }

    &.wire-d {
      background-image: url("../img/wire-d.svg");
    }
  }
}

.device__stroke-popup-note {
  font-size: 12px;
  line-height: 18px;
  color: #f25248;
  padding-top: 8px;
}

.device__stroke-popup-close {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;

  svg {
    width: 24px;
    height: 24px;
  }
}

.device__stroke-name {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  width: 150px;
  flex-shrink: 0;
  padding-top: 8px;
  margin-right: 16px;

  overflow: hidden;
  text-overflow: ellipsis;
}

.device__stroke-chip {
  position: relative;
  padding: 7px 8px;
  padding-right: 20px;
  font-size: 12px;
  line-height: 18px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  //white-space: nowrap;
  transition: background-color 0.3s;

  span {
    margin-right: 8px;
  }

  @media (min-width: 640px) {
    @media (hover: hover) {
      &:hover {
        background-color: #e6e6ef;
      }

      &:hover + .device__stroke-popup {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
      }
    }
  }

  .dote {
    position: absolute;
    top: 10px;
    right: 8px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    flex-shrink: 0;
    font-size: 8px;
    line-height: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding-left: 2px;
    font-weight: 600;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    div {
      width: auto;
      height: auto;
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &.white {
      background-color: #fff;
      border: 1px solid #e5e5e5;
    }

    &.grey {
      background-color: #dadada;
    }

    &.red {
      background-color: #d64933;
    }

    &.black {
      background-color: #303030;
    }

    &.blue {
      background-color: #5ea9ff;
    }

    &.green {
      background-color: #48c369;
    }

    &.rose {
      background-color: pink;
    }

    &.orange {
      background-color: orange;
    }

    &.yellow {
      background-color: yellow;
    }

    &.brown {
      background-color: brown;
    }

    &.wire-a {
      background-image: url("../img/wire-a.svg");
    }

    &.wire-c {
      background-image: url("../img/wire-c.svg");
    }

    &.wire-e {
      background-image: url("../img/wire-e.svg");
    }

    &.wire-f {
      background-image: url("../img/wire-f.svg");
    }

    &.wire-g {
      background-image: url("../img/wire-g.svg");
    }

    &.wire-l {
      background-image: url("../img/wire-l.svg");
    }

    &.wire-m {
      background-image: url("../img/wire-m.svg");
    }

    &.wire-h {
      background-image: url("../img/wire-h.svg");
    }

    &.wire-i {
      background-image: url("../img/wire-i.svg");
    }

    &.wire-j {
      background-image: url("../img/wire-j.svg");
    }

    &.wire-k {
      background-image: url("../img/wire-k.svg");
    }

    &.wire-b {
      background-image: url("../img/wire-b.svg");
    }

    &.wire-d {
      background-image: url("../img/wire-d.svg");
    }
  }
}

.device__warning-block {
  position: absolute;
  top: 21px;
  right: 16px;
}

.device__warning-icon {
  width: 24px;
  height: 24px;
  color: #6c7684;
  transition: color 0.3s;

  svg {
    width: 24px;
    height: 24px;
  }

  @media (min-width: 640px) {
    @media (hover: hover) {
      &:hover {
        color: #1a1a1a;
      }

      &:hover + .device__warning-popup {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
      }
    }
  }
}

.device__warning-popup {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0s 0.3s;
  position: absolute;
  bottom: calc(100% + 9px);
  left: 12px;
  transform: translateX(-50%);
  z-index: 10;
}

.device__warning-popup-body {
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  width: 223px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #1a1a1a;
}

.device__stroke-title-mobile {
  display: none;
}

@include desktop {
  .device {
    &__title-wrap {
      & p {
        max-width: 48.5%;
      }
    }

    &__model {
      max-width: 49%;
    }

    &__model-name {
      max-width: 158px;
    }

    &__wire-dote span {
      display: block;
    }

    &__wire-color > .device__wire-dote:hover + .device__wire-popup {
      display: none;
    }

    &__wire-popup {
      display: none !important;
    }

    &__wire-popup-mobile {
      position: fixed;
      top: 50%;
      left: 50%;

      display: none;
      width: 288px;

      border-radius: 5px;
      background-color: #fff;
      transform: translate(-50%, -50%);
      z-index: 100;

      &-wrap {
        padding: 15px 15px 25px 15px;
      }

      &.js--show {
        display: block;
      }
    }

    &__wire-image-wrap-mobile {
      width: 100%;
      height: 136px;

      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 5px;
      background-color: #e5e5e5;
      background-size: cover;
      background-position: center center;
    }

    &__wire-popup-text {
      display: flex;

      font-size: 13px;
      line-height: 16px;

      & > span:first-of-type {
        margin-right: auto;
      }

      & > span:not(:first-of-type) {
        color: #707070;
      }

      & .device__wire-dote {
        margin-right: 10px;
      }
    }

    &__wire-popup-close {
      display: block;
      width: 100%;
      height: 57px;

      border: none;
      border-top: 1px solid #f7f7f7;
      background-color: #fff;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      &:focus {
        outline: none;
      }

      &:active {
        color: rgba(0, 0, 0, 0.5);
      }
    }

    &__wire-popup-overlay {
      position: fixed;
      top: 0;
      left: 0;

      display: none;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 99;

      &.js--show {
        display: block;
      }
    }
  }
}

@include tablet {
  .device {
    &__title-wrap {
      order: 1;
    }

    & .device__series-title {
      display: none;
    }

    & .device__model-title {
      max-width: 100%;
      flex-grow: 1;
    }

    &__item {
      max-width: 100%;
      // display: flex;
      // align-items: center;
      // justify-content: space-between;
      // padding: 15px;
      margin-bottom: 0;
      order: 0;
    }

    &__item .model__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
    }

    &__item .model__image-container {
      max-width: 45%;
      margin-bottom: 0;
      flex-grow: 1;
    }

    &__item .device__item-data {
      max-width: 45%;
      flex-grow: 1;
    }

    &__item .model__image {
      height: 160px;
      display: flex;
      align-items: center;
    }

    &__model {
      max-width: 100%;
      order: 2;
    }
  }

  .device__stroke-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;

    &.opened {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }
  }

  .device__stroke-popup-body {
    position: relative;
  }

  .device__stroke-popup-close {
    display: block;
    color: #1a1a1a;

    svg {
      color: #1a1a1a;
    }
  }

  .device__warning-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;

    &.opened {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }
  }

  .device__warning-popup-body {
    position: relative;
    padding-top: 40px;
  }

  .device__block {
    flex-direction: column;

    .model__image-container {
      width: 100%;
      max-width: 500px;
      height: 130px;
      margin: 0 0 24px;
    }

    .model__image {
      height: 130px;
    }

    .device__block-name,
    .device__block-subtitle,
    .device__block-value {
      text-align: center;
    }
  }
}

@include mobile {
  .device {
    padding-top: 35px;

    &__to-main {
      padding-left: 28px;
      margin-bottom: 35px;

      font-size: 13px;
      line-height: 15px;

      &::before {
        width: 18px;
        height: 18px;

        background-size: cover;
      }
    }

    &__title-wrap p {
      font-size: 13px;
      line-height: 15px;
    }

    // &__item {
    //   flex-direction: column;
    //   padding-bottom: 20px;
    // }

    &__item .model__link {
      flex-direction: column;
      padding-bottom: 20px;
    }

    &__item .model__image-container {
      max-width: 100%;
      margin-bottom: 30px;
    }

    &__item .device__item-data {
      max-width: 100%;
    }

    &__model-name,
    &__controller-link,
    &__model-not-supported {
      font-size: 13px;
      line-height: 15px;
    }

    &__model-not-supported {
      min-width: 130px;
    }
  }

  .device__block-name {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 8px;
  }

  .device__stroke {
    flex-direction: column;
    padding-right: 16px;
  }

  .device__stroke-wires {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .device__stroke-title-mobile {
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: #6c7684;
    margin: 0 0 4px;
  }

  .device__stroke-name {
    padding-top: 0;
    margin: 0 0 16px;
    width: auto;
    padding-right: 32px;
  }

  .device__warning-block {
    top: 16px;
  }

  .device__strokes-titles {
    display: none;
  }

  .device__stroke-controller {
    margin-right: 0;
  }
}
