.footer {
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;

  &__logo-link {
    display: block;
    margin-bottom: 25px;

    & svg {
      @include transition;

      fill: #e5e5e5;
    }

    &:hover svg {
      fill: #5ea9ff;
    }
  }

  &__copyright {
    margin: 0;

    font-size: 15px;
    line-height: 17px;
    color: #e5e5e5;
  }

  &__links {
    display: flex;
    justify-content: center;
  }

  &__link {
    @include link-reset;
    @include transition;

    width: 162px;
    height: 48px;

    &--ios {
      margin-right: 15px;

      background-image: url("../img/app-ios-grey.svg");

      &:hover {
        background-image: url("../img/app-ios-blue.svg");
      }
    }

    &--android {
      background-image: url("../img/app-google-grey.svg");

      &:hover {
        background-image: url("../img/app-google-blue.svg");
      }
    }
  }
}

@include desktop {
  .footer {
    flex-direction: column;
    align-items: center;

    &__right {
      margin-bottom: 25px;

      text-align: center;
    }
  }
}

@include mobile {
  .footer {
    &__links {
      flex-direction: column;
      align-items: center;
    }

    &__link {
      &--ios {
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
  }
}
