.search-result {
  margin-bottom: 40px;

  &:not(:first-of-type) .device__title-wrap {
    display: none;
  }
}

@include tablet {
  .search-result {
    &:not(:first-of-type) .device__title-wrap {
      display: block;
    }
  }
}
