.search-result {
  margin-bottom: 24px;

  &:not(:first-of-type) .device__title-wrap {
    display: none;
  }

  .device__block {
    margin-bottom: 16px;
  }
}

@include tablet {
  .search-result {
    &:not(:first-of-type) .device__title-wrap {
      display: block;
    }
  }
}
